.wrapper {
	overflow: hidden;  /* it hides the extra-padding before or after an element */
	padding-left: 18px;
	padding-right: 18px;
	max-width: 1236px;
	margin-left: auto;
	margin-right: auto;

	&--medium {
		max-width: 976px;
	}

	/* any wrapper nested in another wrapper should not have any horizontal padding */
	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	&--b-margin {
		margin-bottom: 1rem;
	}

	@mixin atSmall {
		margin-bottom: 3.875rem;
	}

}